$defaultMargin: 0;
$defaultPadding: 0;
$boxSizing: border-box;

* {
	margin: $defaultMargin;
	padding: $defaultMargin;
	box-sizing: $boxSizing;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.row {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		'.'
		'.';
}

.input {
	margin-left: 20px;
	margin-top: 20px;
}


#preview {
	color: #000;
	font-size: 16px;
	margin-left: 20px;
	padding-left: 25px;
	max-width: 57vw;
}

.btn {
	position: absolute;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: salmon;
	border: none;
	outline: none;
	font-size: 18px;
	border-radius: 15px;
	margin-left: -880px;
	margin-top: 500px;
}


